/* .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); } */

/* ############# MY SOLUTION CSS ################ */
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600&display=swap');

:root {
  /* PRIMARY */
  --strong-cyan: hsl(171, 66%, 44%);
  --light-blue: hsl(233, 100%, 69%);
  /* NEUTRAL */
  --dark-grayish-blue: hsl(210, 10%, 33%);
  --grayish-blue: hsl(201, 11%, 66%);
  /* Footer Background */
  --footer-background: hsl(220, 18%, 97%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: none;
}

body {
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  margin: 0 auto;
  padding: 0 1.2em;
  width: 100%;
  max-width: 1440px;
}

p {
  color: var(--grayish-blue);
  font-weight: 400;
  font-size: 1em;
  line-height: 1.6em;
  font-size: 0.82em;
}

h2,
h3,
h4,
h5,
h6 {
  color: var(--dark-grayish-blue);
}

h2 {
  margin: 2rem auto;
  text-align: center;
}

.download-link {
  margin: 2.4rem auto;
  padding: 0 1em;
  width: 100%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.download-link > a {
  width: 100%;
  text-align: center;
  font-size: 0.7em;
  letter-spacing: 0.1em;
  font-weight: 500;
  text-decoration: none;
  padding: 1em 2em;
  border-radius: 50px;
  color: white;
}

.btn-primary {
  background-color: var(--strong-cyan);
  box-shadow: 0 25px 15px -6px hsla(171, 66%, 44%, 0.1);
}
.btn-secondary {
  background-color: var(--light-blue);
  box-shadow: 0 25px 15px -6px hsla(233, 100%, 69%, 0.1);
}

main > div > section > p {
  margin: 0 auto;
  max-width: 700px;
  text-align: center;
  padding: 0 1.6em;
}

/* HEADER ######################################################################## */

header {
  background-color: #ffffff;
  background-image: url('../images/bg-header-mobile.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

header > div {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header > div > .logo {
  margin-bottom: 3rem;
}
header > div > section {
  width: 100%;
}
header > div > section > h1 {
  color: hsl(240, 7%, 24%);
  padding: 0 1em;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1.4rem;
}
header > div > section > p {
  padding: 0 1.6em;
  text-align: center;
}

/* HEADER ######################################################################## */

/* MAIN CONTENT ######################################################################## */

/* ## FEATURE ################ */
main div section.feature {
  margin-bottom: 10rem;
}
main div section.feature > div.feature-list {
  margin-top: 3.6rem;
  display: flex;
  flex-direction: column;
}
main div section.feature > div.feature-list > .image-wrapper {
  margin-bottom: 3.6rem;
}
main div section.feature > div.feature-list > .image-wrapper > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
main div section.feature > div.feature-list > ul {
  list-style-type: none;
}
main div section.feature > div.feature-list > ul > li {
  margin-bottom: 2.6rem;
  text-align: center;
}
main div section.feature > div.feature-list > ul > li > h3 {
  margin-bottom: 1rem;
  font-weight: 600;
}
main div section.feature > div.feature-list > ul > li > p {
  padding: 0 2em;
}
/* ## FEATURE ################ */

/* ## SYNC ################ */
main div section.sync > .image-wrapper {
  margin: 4rem auto;
  width: 100%;
  max-width: 860px;
}
main div section.sync > .image-wrapper > img {
  width: 100%;
}
/* ## SYNC ################ */

/* ## TOOLS ################ */
main div section.tools {
  margin-top: 6rem;
}
main div section.tools > .tool-list {
  margin-top: 4rem;
  margin-bottom: 6rem;
  display: flex;
  flex-direction: column;
}
main div section.tools > .tool-list > article {
  margin: 1rem auto;
}
main div section.tools > .tool-list > article > .icon-wrapper {
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main div section.tools > .tool-list > article > h3 {
  text-align: center;
  margin: 1.5rem auto;
}
main div section.tools > .tool-list > article > p {
  text-align: center;
  padding: 0 1.4em;
}
/* ## TOOLS ################ */

/* ## COMPANY ################ */
main div.company {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem;
  overflow-y: auto;
}
main div.company > img {
  margin: 2.2rem auto;
}
/* ## COMPANY ################ */

/* ## DOWNLOAD ################ */
main div section.download {
  margin-bottom: 10rem;
}
main div section.download > p {
  padding: 0 1.6em;
}
/* ## DOWNLOAD ################ */

/* MAIN CONTENT ######################################################################## */

/* FOOTER ######################################################################## */
footer {
  background-color: var(--footer-background);
}
footer div.footer {
  padding: 2.6em 0;
  display: flex;
  flex-direction: column;
}

footer div.footer > div.logo {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer div.footer > div.logo > img {
  width: 100%;
  max-width: 50px;
}

footer div.footer > nav > ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer div.footer > nav.page-link > ul > li {
  margin: 0.5rem auto;
}
footer div.footer > nav.page-link > ul > li > a {
  font-size: 0.8em;
  text-decoration: none;
  color: var(--dark-grayish-blue);
}
footer div.footer > nav.social-link {
  margin-top: 2.4rem;
}
footer div.footer > nav.social-link > ul {
  flex-direction: row;
  justify-content: center;
}
footer div.footer > nav.social-link > ul > li {
  margin: 0 1rem;
}
footer div.footer > nav.social-link > ul > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* FOOTER ######################################################################## */

/* ######################################################### DESKTOP ###3#################################################### */
/* ######################################################### DESKTOP ###3#################################################### */
/* ######################################################### DESKTOP ###3#################################################### */
/* ######################################################### DESKTOP ###3#################################################### */
/* ######################################################### DESKTOP ###3#################################################### */
/* ######################################################### DESKTOP ###3#################################################### */
/* ######################################################### DESKTOP ###3#################################################### */

@media only screen and (min-width: 680px) {
  /* Downlaod Link */
  .download-link {
    margin: 1rem auto;
    justify-content: center;
    flex-direction: row;
  }
  .download-link > a {
    margin: 0 0.5rem;
    width: unset;
    font-size: 0.9em;
    transition: opacity 0.2s ease-in-out;
  }
  .download-link > a:hover {
    opacity: 0.75;
  }

  /* Typography */
  h2 {
    font-size: 1.9em;
    margin: 1rem auto;
  }
  p {
    font-size: 1em;
  }

  main > div > section > p {
    padding: unset;
  }
  /* Typography */

  /* HEADER ######################################################################## */
  header {
    background-image: url('../images/bg-header-desktop.png');
    background-position: top center;
  }
  header > div {
    min-height: 84vh;
  }
  header > div > .logo {
    margin-top: 4rem;
  }
  header > div > section > h1 {
    font-size: 2.4em;
    margin-bottom: 1rem;
  }
  header > div > section > p {
    padding: unset;
    margin: 0 auto;
    max-width: 680px;
    font-size: 1.1em;
  }
  /* HEADER ######################################################################## */

  /* MAIN ######################################################################## */

  /* ## FEATURE ######################################################################## */
  main div section.feature {
    margin-top: 3rem;
  }
  main div section.feature > div.feature-list {
    margin-top: 5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  main div section.feature > div.feature-list > .image-wrapper {
    width: 50%;
    position: relative;
    min-width: 360px;
    margin-bottom: 0;
  }
  main div section.feature > div.feature-list > .image-wrapper > img {
    transform: scale(105%) translateX(-3%);
    position: relative;
  }
  main div section.feature > div.feature-list > ul {
    flex-grow: 1;
  }
  main div section.feature > div.feature-list > ul > li {
    text-align: left;
    margin: 4rem auto;
  }
  main div section.feature > div.feature-list > ul > li > h3,
  main div section.feature > div.feature-list > ul > li > p {
    max-width: 500px;
    padding-left: 16%;
  }
  main div section.feature > div.feature-list > ul > li > p {
    font-size: 0.9em;
  }
  /* ## FEATURE ######################################################################## */

  /* ## SYNC ######################################################################## */
  main div section.sync > .image-wrapper {
    margin: 6rem auto;
    margin-bottom: 4rem;
  }
  /* ## SYNC ######################################################################## */

  /* ## TOOLS ######################################################################## */
  main div section.tools {
    margin-top: 1rem;
    margin-bottom: 8rem;
  }
  main div section.tools > .tool-list {
    margin: 4rem auto;
    max-width: 1120px;
    flex-direction: row;
    align-items: stretch;
  }
  main div section.tools > .tool-list > article {
    margin: 0 auto;
    width: calc(calc(1 / 3) * 100%);
  }
  main div section.tools > .tool-list > article > h3 {
    font-size: 1.3em;
    margin-top: 2rem;
  }
  main div section.tools > .tool-list > article > p {
    font-size: 0.9em;
    padding: 0 0.4em;
  }
  /* ## TOOLS ######################################################################## */

  /* ## COMPAnY ######################################################################## */

  main div.company {
    margin: 0 auto;
    max-width: 1200px;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10rem;
  }
  main div.company > img {
    margin: 1rem 2rem;
  }

  /* ## COMPAnY ######################################################################## */

  /* ## DOWNLOAD ######################################################################## */
  main div section.download {
    margin-bottom: 7rem;
  }
  main div section.download > p {
    padding: 0 0;
  }
  /* ## DOWNLOAD ######################################################################## */

  /* MAIN ######################################################################## */

  /* FOOTER ######################################################################## */
  footer div.footer {
    margin: 0 auto;
    max-width: 1100px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  footer div.footer > div.logo {
    margin-bottom: 0;
    width: 18%;
    justify-content: flex-start;
  }
  footer div.footer > div.logo > img {
    max-width: 60px;
  }
  footer div.footer > nav.page-link {
    flex-grow: 1;
  }
  footer div.footer > nav.page-link > ul {
    max-width: 560px;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  footer div.footer > nav.page-link > ul > li {
    margin: 0;
    margin-right: 1rem;
  }
  footer div.footer > nav.page-link > ul > li > a {
    font-size: 1em;
    transition: color 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  footer div.footer > nav.page-link > ul > li > a:hover {
    color: var(--strong-cyan);
  }

  footer div.footer > nav.social-link {
    margin-top: 0;
  }
  footer div.footer > nav.social-link > ul > li {
    margin: 0 0;
    margin-left: 1rem;
  }
  footer div.footer > nav.social-link > ul > li > a > svg > path {
    transition: fill 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  footer div.footer > nav.social-link > ul > li > a:hover > svg > path {
    fill: var(--strong-cyan);
  }
  /* FOOTER ######################################################################## */
}

/* ############# MY SOLUTION CSS ################ */
